<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inogard.enio.agent.mappers.po.PoSrvMapper">
  <sql id="sqlSelect">
    SELECT ps.po_no, 
               ps.item_seq, 
               ps.srv_seq, 
               ps.pr_no, 
               ps.pr_item_seq, 
               ps.pr_srv_seq, 
               ps.srv_nm, 
               ps.srv_cd, 
               ps.unit_cd, 
               ps.qty, 
               ps.unit_prc, 
               ps.amt 
     FROM agt_poservice ps
  </sql>
  
  <select id="findAllByPoNoAndItemSeq" resultType="kr.co.inogard.enio.agent.domain.po.PoSrv">
    <include refid="sqlSelect"/>
    <![CDATA[
      WHERE ps.po_no = #{poNo}
          AND ps.item_seq = #{itemSeq}
    ]]>
  </select>
  
	<insert id="add" parameterType="kr.co.inogard.enio.agent.domain.po.PoSrv">
      	<![CDATA[
      	  INSERT INTO agt_poservice (
                po_no, 
                item_seq, 
                srv_seq, 
                pr_no, 
                pr_item_seq, 
                pr_srv_seq, 
                srv_nm, 
                srv_cd, 
                unit_cd, 
                qty, 
                unit_prc, 
                amt
          ) VALUES (
                #{poNo}, 
                #{itemSeq}, 
                #{srvSeq}, 
                #{prNo}, 
                #{prItemSeq}, 
                #{prSrvSeq}, 
                #{srvNm}, 
                #{srvCd}, 
                #{unitCd}, 
                #{qty}, 
                #{unitPrc}, 
                #{amt}
          ) 
      	]]>
	</insert>

 <delete id="delPoService" parameterType="string">
  <![CDATA[      
      DELETE agt_poservice Where po_no = #{poNo} 
  ]]>  
  </delete>    	
</mapper>