<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inogard.enio.agent.mappers.pr.PrSrvDumMapper">
  <sql id="sqlSelect">
  <![CDATA[
    SELECT  dps.erp_pr_no,
                 dps.item_seq,
                 dps.srv_seq,
                 dps.srv_nm,
                 dps.srv_cd,
                 dps.unit_cd,
                 dps.qty
     FROM   agt_dum_prservice dps
  ]]>
  </sql>
  
  <select id="findAllByErpPrNoAndItemSeq" parameterType="string" resultType="kr.co.inogard.enio.agent.domain.pr.PrSrvDum">
    <include refid="sqlSelect"/>
    <![CDATA[
		  WHERE dps.erp_pr_no = #{erpPrNo} 
              AND dps.item_seq = #{itemSeq} 
    ]]>
  </select>

  <delete id="deleteByErpPrNo" parameterType="string">
  <![CDATA[
    DELETE FROM agt_dum_prservice WHERE erp_pr_no = #{value} 
  ]]>
  </delete>
</mapper>
