<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
  namespace="kr.co.inogard.enio.agent.mappers.dept.DeptDumMapper">
  <insert id="add" parameterType="kr.co.inogard.enio.agent.domain.dept.DeptDum">
    <selectKey resultType="string" keyProperty="erpDeptCd" order="BEFORE">
    <![CDATA[
      SELECT B.agt_cd || A.seq AS erpDeptCd 
      FROM   (
        SELECT Substr(To_char(To_number('1' || Nvl(Max(Substr(I.erp_dept_cd, 6, 5)), '00000') + 1)), 2, 5) AS SEQ 
          FROM agt_dum_dept I
         WHERE I.erp_dept_cd LIKE #{agtCd} || '%'
      ) A 
      cross join agt_agent B 
      WHERE B.agt_cd = #{agtCd}
    ]]>
    </selectKey>
    <![CDATA[
      INSERT INTO agt_dum_dept (
        erp_dept_cd, 
        dept_nm, 
        dept_tel, 
        reg_dt, 
        e4u_if_dt, 
        e4u_dept_cd
      ) VALUES (
        #{erpDeptCd}, 
        #{deptNm}, 
        #{deptTel}, 
        To_char(sysdate, 'YYYYMMDDHH24MISS'), 
        NULL, 
        NULL 
      )
    ]]>
  </insert>

  <select id="findByErpDeptCd" parameterType="string" resultType="kr.co.inogard.enio.agent.domain.dept.DeptDum">
  <![CDATA[
		SELECT A.erp_dept_cd, 
		       A.dept_nm, 
		       dept_tel, 
		       To_date(A.reg_dt, 'YYYYMMDDHH24MISS')    AS REG_DT, 
		       To_date(A.e4u_if_dt, 'YYYYMMDDHH24MISS') AS E4U_IF_DT, 
		       A.e4u_dept_cd 
		FROM   agt_dum_dept A 
		WHERE  A.erp_dept_cd = #{erpDeptCd} 
  ]]>
  </select>

  <select id="findByDeptNm" parameterType="string" resultType="kr.co.inogard.enio.agent.domain.dept.DeptDum">
  <![CDATA[
		SELECT A.erp_dept_cd, 
		       A.dept_nm, 
		       dept_tel, 
		       To_date(A.reg_dt, 'YYYYMMDDHH24MISS')    AS REG_DT, 
		       To_date(A.e4u_if_dt, 'YYYYMMDDHH24MISS') AS E4U_IF_DT, 
		       A.e4u_dept_cd 
		FROM   agt_dum_dept A 
		WHERE  A.dept_nm = #{deptNm}
            AND A.erp_dept_cd LIKE #{agtCd} || '%' 
  ]]>
  </select>

  <select id="findAllNotSend" parameterType="hashmap" resultType="kr.co.inogard.enio.agent.domain.dept.DeptDum">
  <![CDATA[
		SELECT A.erp_dept_cd, 
		       A.dept_nm, 
		       dept_tel, 
		       To_date(A.reg_dt, 'YYYYMMDDHH24MISS') AS REG_DT, 
		       A.e4u_if_dt, 
		       A.e4u_dept_cd 
		FROM   agt_dum_dept A 
		WHERE  A.e4u_dept_cd IS NULL 
  ]]>
  </select>

  <update id="updateE4uDeptCd" parameterType="kr.co.inogard.enio.agent.domain.dept.DeptDum">
  <![CDATA[
		UPDATE agt_dum_dept 
		SET    e4u_dept_cd = #{e4uDeptCd}, 
		       e4u_if_dt = To_char(sysdate, 'YYYYMMDDHH24MISS') 
		WHERE  erp_dept_cd = #{erpDeptCd} 
  ]]>
  </update>
  <update id="updateE4uIfSt" parameterType="kr.co.inogard.enio.agent.domain.dept.DeptDum">
  <![CDATA[
    UPDATE agt_dum_dept 
		SET    e4u_if_st = #{e4uIfSt},e4u_if_dt = To_char(sysdate, 'YYYYMMDDHH24MISS')
	WHERE  erp_dept_cd = #{erpDeptCd} 
  ]]>
  </update>
</mapper>